ul{
    display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
.card{
    padding: 120px;
    height:500px;
	padding-bottom:90px;
	padding-top: 110px;
	width: 80%;
    float: left;
    color : white;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/assets/pic4.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
.heading {
    margin-left: -920px;
    margin-top: 50px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .about_us {
    margin-left: -1080px;
    margin-top: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }