.card{
    padding: 120px;
    height:500px;
	padding-bottom:90px;
	padding-top: 110px;
	width: 80%;
	float: left;
	color : white;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/assets/pic4.jpg") no-repeat center fixed;
	/*display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;*/
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -55px 0 50px;
}
.sec1,
.sec2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  padding: 10px 25px;
}
h2 {
	margin-top: 50px;
	color: white;
	font-size: 25px;
	font-weight: bold;
  }