<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!--<link href="new 2.css" rel="stylesheet" type="text/css" media="screen" />-->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
    <!--Header-->
    <!--<div class="header">
	     <img src="./assets/pic1.png"style="padding-left: 20px;height: 50px;float:left"><h1>HOME LOAN</h1><br/>
		 
    </div>-->
	
	<!--Logo
	-->
	
	<!--Row bar-->
	
	<div id="carrossel"> 
		<ul> 
			<li> 
				<div class="carrossel-container"> 
		           <img src="./assets/pic10.jpg" alt="img1" />
                </div>
            </li>
            
            <li> 
				<div class="carrossel-container"> 
		           <img src="./assets/pic2.jpg" alt="img1" />
                </div>
            </li>
            
            <li> 
				<div class="carrossel-container"> 
		          <img src="./assets/pic4.jpg" alt="img1" />
                </div>
            </li>
			<li> 
				<div class="carrossel-container"> 
		          <img src="./assets/pic8.jpg" alt="img1" />
                </div>
            </li>
       
       </ul>
    </div>
	
	<div class="card">
             <p>   We provide a hassle-free user-friendly online platform to our users through
which they can apply for loans based on their own requirements and keep a track
of their status and record during the entire process of their loan term without
visiting any bank branch.

                </p>
                <p>
                    Our system increases customer retention and simplifies loan and EMI
management. Our project is designed to be used by any individual for home loan.
Our customers can view available services, policies, benefits and other
information related to a specific loan.

                </p>
                <p>
                    The system collects the required information about the individual and then
verifies if they satisfy the eligibility criteria based on which the loan gets approved
or rejected.
                </p>
            </div>
			<!--Footer-->
    <!--<div class="footer">
        <p>©️ Home Loan Limited</p>
    </div>--> 
</body>
</html>
