<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!--<link href="loanmain.css" rel="stylesheet" type="text/css" media="screen" />-->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
    <ul>
        <li><a href="#">FAQ</a>
         <ul>
          <li><a [routerLink]="['/faqLink']">FAQ</a></li>
          <li><a [routerLink]="['/learnLink']">Learn</a></li>
         </ul>
        </li>
        <li><a [routerLink]="['/loginLink']">Login</a>
         </li>
        <li><a href="#">About Us</a>
         <ul>
          <li><a [routerLink]="['/aboutusLink']">About Us</a></li>
          <li><a [routerLink]="['/loantypesLink']">Loan types</a></li>
          </ul>
        </li>
        <li><a href="#">Calculator</a>
         <ul>
          <li><a [routerLink]="['/emicalculatorLink']">EMI Calculator</a></li>
          <li><a [routerLink]="['/eligibilitycalculatorLink']">Eligibility</a></li>
         </ul>
        </li>
        <li><a href="#">Application</a>
         <ul>
          <li><a [routerLink]="['/featuresLink']">Application Form</a></li>
          <li><a [routerLink]="['/loantrackerLink']">Loan Tracker</a></li>
         </ul>
        </li>
        <li><a [routerLink]="['/homeLink']">Home</a></li>
       </ul>
       
       </div>

    <div>
        <router-outlet></router-outlet>
    </div>
    
</body>

<!--Footer-->
<!--<div class="footer">
    <p>©️ Home Loan Limited</p>
</div>-->