body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}


.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar-right{
	float:right;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Bahnschrift Condensed;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
 color: Green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.bg-image {
  /* The image used */
  background-image: url("/assets/pic13blur.jpg");

  /* Add the blur effect */
  /*filter: blur(8px);
  -webkit-filter: blur(8px); */

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /*border: 5px solid #f1f1f1;*/
  position: absolute;
  top: 55%;
  left: 30%;
  float:left;
  
  transform: translate(-50%, -50%);
 /* z-index: 2;*/
 width: 50%;
  height:70%;
  padding: 20px;
  text-align: left;
  font-size:20px;
font-family:Bahnschrift Condensed;
}

.img{
	max-width:80px;
	top: 55%;
	right: 50%;
}



ul.content{
font-size:35px;
font-family:Bahnschrift Condensed;
list-style-type:disc;
text-align:left;
}

.card{
	
	padding: 120px;
	/* margin-top: 10px;*/
	/*margin-left: 500px;
	margin-right: 60px;*/
	
	height:800px;
	padding-bottom:90px;
	padding-top: 110px;
	width: 80%;
	float: right;
	
}
.footer{
    padding: 10px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    width: 100%;
    margin: auto;
}


