<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Custom Website</title>
    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<ul>
 <li><a href="#">FAQ</a>
  <ul>
   <li><a href="">FAQ</a></li>
   <li><a href="">Learn</a></li>
  </ul>
 </li>
 <li><a [routerLink]="['/loginLink']">Login</a>
  </li>
 <li><a href="#">About Us</a>
  <ul>
   <li><a href="">About Us</a></li>
   <li><a href="">Loan types</a></li>
   </ul>
 </li>
 <li><a href="#">Calculator</a>
  <ul>
   <li><a href="">EMI Calculator</a></li>
   <li><a href="">Eligibility</a></li>
  </ul>
 </li>
 <li><a href="#">Application</a>
  <ul>
   <li><a [routerLink]="['/applicationLink']">Application Form</a></li>
   <li><a href="">Loan Tracker</a></li>
  </ul>
 </li>
 <li><a href="#">Home</a></li>
</ul>
		<div style="width:100%">
<div class="bg-text">
<!--<img src="loangif.gif" alt="img1" style="float:right;height:80%;width:35%"  />-->
  <h1 style="text-align:center">ABCD HOUSING LOAN</h1>
  <h5 style="text-align:center">THE BETTER WE KNOW YOU,THE MORE WE CAN DO.</h5>
  <div class="content">
  Apply for Home Loan and bring <br/> alive your dream of owning a home.<br/>
  Compare 40+ Banks & get the best housing <br/>loans at lowest interest rates.<br/>
  Get the best home loan deals with low processing fee and hassle-free process.<br/>
	 </div>
	 
</div>
</div>

<div class="card">
   <img src="/assets/gif1.gif" alt="img1" style="float: right; height: 75%; width: 35%" />
        </div>

</body>
</html>